<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<a href="/articles">Back</a>
<form method="post" action="/articles">
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" />
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea type="text" id="description" name="description"></textarea>
    </div>
    <br>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
