{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<a href="/articles">Back</a>
{% endblock %}
<br><br>
<form method="post" action="/articles">
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ inputTitle }}"/>
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea type="text" id="description" name="description">{{ inputDescription }}</textarea>
    </div>
    <br>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
{% endif %}
{% endblock %}