<html lang="en">
<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
<header>
    <div class="wrapper">
        <ul>
            {% if active != "" %}
            <br>
            <li>Welcome, {{ active }}!</li>
            {% endif %}
            <li><a href="/users/logout">Log out</a></li>
        </ul>
    </div>
</header>
<a href="/articles">Back</a><br><br>
<form method="post" action="/articles/{{ article.id }}">
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ article.title }}" />
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ article.description }}</textarea>
    </div>
    <br>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>