<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<a href="/articles">Back</a>
<form method="post" action="/articles/{{ article.id }}">
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ article.title }}" />
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ article.description }}</textarea>
    </div>
    <br>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
