{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<a href="/welcome">Back</a>
{% endblock %}
<br><br>
<h2>All users</h2>
<br>
<ul>
    {% for availableUser in availableUsers %}
    {% if activeId != availableUser.id %}
    <li>
        {{ availableUser.name }} {{ availableUser.surname }}
        {% if activeId != availableUser.id %}
        <form method="post" action="/users/{{ availableUser.id }}/invite">
            <button type="submit">Invite</button>
        </form>
        {% endif %}
    </li>
    <br>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}