<html lang="en">
<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<a href="/">Back</a>
<div class="wrapper">
    <br>
    <p>Log in here!</p>
    <form method="post" action="/users/login" >
        <label for="logemail">E-mail:</label><br>
        <input type="text" id="logemail" name="logemail"><br><br>
        <label for="logpassword">Password:</label><br>
        <input type="password" id="logpassword" name="logpassword"><br><br>
        <br>
        <button type="submit" name="submit">LOG IN</button>
    </form>
</div>